html {
  scroll-behavior: smooth;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  #somethingorother {
    width: 320px ;
  }
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

nav {
    background-color: #D6D0F5;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    flex-flow: column wrap;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: #C1B8CE;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #16121C;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-size: 20px;
    color: #16121C;
    cursor: pointer;
    border-bottom: 2px solid #5A0433;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #16121C;
    transition: 0.5s;
  }


  .menuItem:hover {
    color: #896092;
    border: #16121C;
    transform: translateY(-10px);
  }

  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    font-weight: 400;
    border-bottom: 3px solid rgb(63, 44, 44);
  }

  .slider {
    background: url("https://c4.wallpaperflare.com/wallpaper/410/77/199/5bd0bdc12d414-wallpaper-preview.jpg");
    background-size: 100% 100%;
    clip-path: polygon(31% 0, 100% 0, 100% 60%, 100% 100%, 25% 100%, 0% 60%, 0 0);
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  .sliderWrapper {
    display: flex;
    flex-flow: row wrap;
    width: 500vw;
    transition: all 1s ease-in-out;
  }

  .sliderItem {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .sliderbg {
    max-width: 100%;
    height: 750px;
    border-radius: 50%;
    position: absolute;
  }

  .sliderImage {
    z-index: 1;
  }

  .sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    z-index: 1;
  }

  .sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid gray;
    font-size: 40px;
    font-weight: 250;
    text-align: center;
    color: #fff;
    z-index: 1;
  }

  .buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 40px;
    font-weight: 250;
    color: #fff;
    background-color: #16121C;
    cursor: pointer;
    z-index: 1;
  }

  .buyButton:hover {
    background-color: #927E80;
    color:#16121C;
  }

  .sliderItem:nth-child(1).sliderBg {
    background-color: #40353E;
  }

  .sliderItem:nth-child(2).sliderBg {
    background-color: rgb(70, 112, 125);
  }

  .sliderItem:nth-child(3).sliderBg {
    background-color: rgba(177, 156, 187, 0.333);
  }

  .sliderItem:nth-child(4).sliderBg {
    background-color: rgb(71, 66, 125);
  }

  .sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
  }
  .sliderItem:nth-child(2) .sliderPrice {
    color: rgb(127, 112, 144);
  }
  .sliderItem:nth-child(3) .sliderPrice {
    color: teal;
  }
  .sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
  }

  .feature {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
  }

  .featureTitle {
    font-size: 22px;
    font-weight: 600;
    margin: 20px;
  }

  .features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }

  .featureIcon {
    width: 50px;
    height: 50px;
  }

  .featureDescrition {
    height: 100px;
    color:#927E80;
  }

  .product {
    height: 100vh;
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }



.payment {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: #d4e3ec;
  display: none;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  -webkit-box-shadow: 0px 3px 17px 12px rgba(0,0,0,0.26); 
box-shadow: 0px 3px 17px 12px rgba(0,0,0,0.26);
}

.payTitle {
  font-size: 20px;
  color: #16121C;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-radius: 12px;
  border-bottom: 1px solid rgb(29, 8, 54);
}

.payInput::placeholder {
  color: #16121C;
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: -40px;
  border: none;
  border: 1px solid gray;
  background-color: #abdbbf;
  -webkit-box-shadow: 0px 3px 17px 12px rgba(0,0,0,0.26); 
box-shadow: 0px 3px 17px 12px rgba(0,0,0,0.26);
  cursor: pointer;
}

.payButton:hover {
    color:#3cb09b;
}

.close {
  height: 20px;
  width: 20px;
  padding: 2px;
  position: absolute;
  background-color: rgb(142, 140, 140);
  color: #fff;
  cursor: pointer;
  top: 10px;
  right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 40%;
  padding: 50px;
}

.productDescription {
  font-size: 25px;
  color: #927E80;
}

.productTitle {
  font-size: 55px;
  font-weight: 900;
  
}

  .productImg {
    width: 40%;
  }

  .productButton {
    float: right;
    border: 2px solid gray; 
    border-radius: 12px;
    font-size: 40px;
    font-weight: 250;
    color: #fff;
    background-color: #1c1926;
    cursor: pointer;
    z-index: 1;
  }

  .productButton:hover {
    background-color: #927E80;
    color:#473b58;
  }

  .gallery {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    background: rgb(235, 242, 243);
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }

  .galleryImg {
    width: 100%;
  }

  .specialOffters{
    display: flex;
    max-width: 100%;
  }

  .soItems {
    flex: 1;
    background: rgb(235, 242, 243);
    color: #16121C;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .soImg {
    width: 100%;
    height: 300px;
  }

  .soTitle {
    font-size: 40px;
  }

  .soButton {
    padding: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    background: rgb(167, 197, 208);
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    border-radius: 25px;
    border: 2px solid #90cef5;
  }

  .soButton{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .soButton:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }

  .soButton:hover {
    background-color: #8ab4df;
    color:#c9ddf3;
  }

  .soButton:hover:after {
    opacity: 1;
    right: 10px;
  }

  footer {
    position: relative;
    padding: 20px 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #D6D0F5; 
    min-height: auto;
  }
  footer .social_icon, footer .menu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  footer .social_icon li, footer .menu li {
    list-style: none;
  }

  footer .social_icon li a {
    display: inline-block;
    font-size: 2em;
    color: black;
    margin: 0 10px;
    transition: 0.5s;
  }

  footer .social_icon li a:hover {
    transform: translateY(-10px);
  }

  footer .menu li a {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    opacity: 0.75;
  }

  footer .menu li a:hover {
    opacity: 1;
  }

  footer p {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }