body {
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #D6D0F5;
    color: #fff;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seach {
    display: flex;
    align-items: center;
    background-color: #C1B8CE;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: #16121C;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-size: 20px;
    color: #16121C;
    cursor: pointer;
    border-bottom: 2px solid #5A0433;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #16121C;
  }

  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    font-weight: 400;
  }

  .slider {
    background: url("https://c4.wallpaperflare.com/wallpaper/410/77/199/5bd0bdc12d414-wallpaper-preview.jpg");
    clip-path: polygon(31% 0, 100% 0, 100% 60%, 100% 100%, 25% 100%, 0% 60%, 0 0);
  }

  .sliderWrapper {
    display: flex;
    width: 500vw;
  }

  .sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .sliderbg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
  }

  .sliderImage {
    z-index: 1;
  }

  .sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    z-index: 1;
  }

  .sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid gray;
    font-size: 40px;
    font-weight: 250;
    text-align: center;
    color: #fff;
    z-index: 1;
  }

  .buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    border: 1px solid gray;
    font-size: 40px;
    font-weight: 250;
    color: #fff;
    background-color: #16121C;
    cursor: pointer;
    z-index: 1;
  }

  .buyButton:hover {
    
  }